@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap");

* {
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-web {
  display: none !important;
}

@media only screen and (max-width: 570px) {
  .no-mobile {
    display: none !important;
  }
  .no-web {
    display: inline-flex !important;
  }
}

/* #F7D0AA */
